@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {height: 100%}

body {
    width: 100%;
    height: 100%;
    color: black;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Arial Unicode MS", sans-serif;
    line-height: 10;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all.6s ease;
}

a:hover {
    color: blue;
    text-decoration: none;
    transition: all.6s ease;
}

a:active {
    color: darkslateblue;
    text-decoration: none;
    transition: all.6s ease;
}

 img {
    max-width: 100%;
    height: auto;
    width: auto;
     }

 hr {
     border: 0;
     height: 1px;
     padding: 0px;
     border-top: 1px solid #ccc;
 }

::selection {background: #blue; color:#fff}

header, footer {
    width: 98%;
    min-height: 50px;
}

header {
    border-bottom: 2px silver;
    padding: 1%;
    height: 50px;
    width: 100%;
    background-color: #ff5833;
}

#headflex {
    display: flex;
    justify-content: space-between;
    margin-top: -6%;
}

#logo {
    font-size: 1.5em;
    font-family: "Comic Sans MS", sans-serif;
    color: #211610;
}

.contact {
    font-size: 1.5em;
    font-family: "Comic Sans MS", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

input[type=search].field {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    height: 30px;
    margin-top: 100px;

}

input[type=search].field:focus {border: 2px solid blue;}

#menu {
    color: #000000;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.7em;
    margin-top: -55%;
}

#menuHrefs {
    margin-top: -10%;
}

#menu hr {
    width: 500px;
    max-width: 100%;
    margin-top: -1%;
    margin-bottom: 10px ;
}

#menuHrefs a {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: lightslategray;
}

#menuHrefs a:hover {
    background-color: #cccccc;
}

#wrapper {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#wrapper #articles {
    float: left;
    width: 80%;
    margin-left: 10%;
}

#wrapper #articles article {
    float: left;
    width: 31.333%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fafafa;
    margin-right: 2%;
    min-height: 400px;
    margin-bottom: 10%;
}

#wrapper #articles article img {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}

footer {
    border-top: 2px silver;
    padding: 1%;
    margin-top: 40%;
    background-color: #000000;
}

footer img {
    width: 3%;
    margin-right: 10px;
    margin-top: -40%;
    justify-content: space-around;
}

#page-wrap:after{
    content: "";
    display: block;
}

footer, #page-wrap:after {height: 10px  }

#page-wrap {
    min-height: 94%;
    margin-bottom: -10px;
}

#textFoot {
    margin-bottom: 100px;
}


